---
import EpisodeLayout from "../layouts/EpisodeLayout.astro";
import astropodConfig from "../../.astropod/astropod.config.json";
---

<EpisodeLayout title="Acerca de" description={astropodConfig.description} cover={astropodConfig.cover}> 
<section class="py-12 bg-gray-900">
  <div class="container mx-auto px-6">
    <h2 class="text-3xl font-bold mb-6 text-center text-violet-400">Gestión y Distribución de Episodios</h2>
    <p class="text-lg text-gray-300 mb-6 text-center">
      En ElSaltoWeb PodCast, no solo te proporcionamos una plataforma completa para crear contenido, sino que también te ofrecemos un <strong>panel de control</strong> intuitivo para gestionar todos tus episodios.
    </p>
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
      <!-- Sección Panel de Control -->
      <div class="bg-gray-800 p-6 rounded-md shadow-lg">
        <h3 class="text-xl font-semibold text-violet-400 mb-2">Panel de Control Personalizado</h3>
        <p class="text-gray-400">Nuestro panel de control te permite organizar y gestionar todos los episodios de tu podcast desde un solo lugar. <br>Ya sea programar, editar, o analizar el rendimiento, tendrás todo lo necesario para manejar tu contenido de manera eficiente.</p>
      </div>

      <!-- Sección Conexión con Plataformas -->
      <div class="bg-gray-800 p-6 rounded-md shadow-lg">
        <h3 class="text-xl font-semibold text-violet-400 mb-2">Automatización y Publicación en Grandes Plataformas</h3>
        <p class="text-gray-400">Conectamos tu podcast automáticamente con plataformas como <strong>Spotify</strong>, <strong>iTunes</strong>, y otras grandes plataformas de streaming.<br> Nuestra tecnología automatiza la publicación de cada episodio, simplificando todo el proceso.</p>
      </div>
    </div>

    <p class="text-lg text-gray-300 mt-6 text-center">
      Con ElSaltoWeb PodCast, puedes enfocarte en crear contenido mientras nosotros nos encargamos de la distribución, conectando tu podcast con miles de oyentes alrededor del mundo.
    </p>
  </div>
</section>

</EpisodeLayout>

