---
const today = new Date();
import astropodConfig from "../../.astropod/astropod.config.json";
---

<footer class="footer footer-center block pb-7 pt-7">
  <div class="inline opacity-50">
    <!-- Gracias por usar Astropod. Por favor, mantén esta línea para apoyar el proyecto :) -->
    <a href="https://github.com/manuelernestog/astropod" target="_blank">
      Desarrollado por <span class="font-bold">ElSaltoWeb.es⚡️</span>
    </a> | 
    Creado con 💖 <span class="font-bold">Noelia </span>
  </div>

  <div class="mt-4">
    <nav class="footer-nav">
      <ul class="flex justify-center space-x-4">
        <li><a href="/about" class="footer-link">Acerca de</a></li>
        <li><a href="/episodes" class="footer-link">Episodios</a></li>
        <li><a href="/contact" class="footer-link">Contacto</a></li>
        <li><a href="/privacy-policy" class="footer-link">Política de Privacidad</a></li>
        <li><a href="/terms" class="footer-link">Términos y Condiciones</a></li>
      </ul>
    </nav>
  </div>

  <div class="mt-4 opacity-50">
    <p>&copy; 2024 {astropodConfig.name}. Todos los derechos reservados.</p>
  </div>
</footer>

<style>
  .footer {
     text-align: center;
    font-size: 14px;
  }

  .footer a {
    color: #aa0cbe; /* Color de los enlaces */
    text-decoration: none;
  }

  .footer a:hover {
    text-decoration: underline;
  }

  .footer .font-bold {
    font-weight: bold;
  }

  .footer-nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .footer-link {
    color: #ffffff;
    transition: color 0.3s ease;
  }

  .footer-link:hover {
    color: #8f0388;
  }
</style>
